:root{
    --primary : #DDA15E;
    --secondary : #EFDAB2;
    --accent: #554640;
    --text-1:white;
    --text-2:black;
    --head:'Poppins', sans-serif;
    --body:'Open Sans', sans-serif;
    --font-h-d : 48px;
    --font-h-t : 40px;
    --font-h-m : 36px;
    --font-p-d1:24px;
    --font-p-d:20px;
    --font-p-m :16px
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(153deg, #AE7461 0%, #DDA15E 100%);;
    border-radius: 12px;
}

/* hero */
.hero{
    padding-top: 150px;
    background-image: url("../images/Frame\ 63.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}
.hero-h{
   text-align: center;
   color: var(--text-1);
   font-family:var(--head);
   font-size: 48px;
}
.hero-p{
   text-align: center;
   color: var(--text-1);
   font-family: var(--body);
   font-size: 20px;
}
.heroBtn-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin:  auto;
    margin-top: 50px;
    width: 50vw;
}

/* blog-1 */
.blog-1{
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    padding: 100px 0px;
}
.b1-h{
    font-size: var(--font-h-t);
    font-family: var(--head);
    color: var(--primary);
}
.b1-sh{
    margin-left: 25px;
}
.b1-list{
    margin-left: 15px;
}
.b1-img{
    height: 340px;
}
.b1-list li{
    margin: 10px 0;
}
/* blog-2 */
.blog-2{
    max-width: 1140px;
    margin: 40px auto;
}
.b2-h{
    font-size: var(--font-h-t);
    font-family: var(--head);
    color: var(--text-2);
    text-align: center;
    margin: 40px 0px;
}
.b2-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.b2-box{
    background-color: var(--primary);
    padding: 8px 25px;
    border-radius: 20px;
    margin: 20px 5px;
}
.b2-p{
    color: var(--text-1, #FFF);
    text-align: center;
    font-family: var(--body);
    font-size: var(--font-p-d1);
}
/* blog-3 */
.blog-3{
    background-color: var(--accent);
    padding: 30px 0px;
    
}
.b3-h{
    color: var(--primary);
    font-size: var(--font-h-d);
    font-family: var(--head);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.b3-sh{
    color: var(--text-1);
    text-align: center;
    font-size: var(--font-h-t);
    font-family: var(--head);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.b3-p{
    color: var(--text-1);
    text-align: center;
    font-size: var(--font-p-d);
    font-family: var(--head);
    font-style: normal;
}
.b3-div1{
    display: flex;
    justify-content: space-around;
}
.b3-div{
    max-width: 1140px;
    margin: 0px auto;
}
.b3-div2{
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
}
.b3d-h{
    color: var(--secondary);
    text-align: center;
    font-size: var(--font-h-t);
    font-family:var(--head);
    font-style: normal;
    line-height: normal;
}
.b3d-p{
    color: var(--text-1);
    text-align: center;
    font-size: var(--font-p-d1);
    font-family: var(--body);
    font-style: normal;
    line-height: normal;
}
/* blog-4 */
.blog-4{
    display: flex;
    width: 80%;
    margin: 5% auto;
    padding: 2%;
    background-image: url("../images/Frame\ 65.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1140px;
}
.b4-div1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    z-index: 2;
    width: 70%;
}
.blog-4 h2{
    color: var(--text-1, #FFF);
    font-size: var(--font-h-d);
    font-family:var(--head);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.blog-4 button{
    border-radius: 12px;
    background-color: var(--accent);
    color: var(--text-1);
    border: none;
    padding: 11px 35px;
    font-weight: 600;
    font-size: 24px;
    transition: 300ms;
    margin: 10px;
    margin-right: -150px;
}
.blog-5{
    display: flex;
    text-align: center;
    background-color: var(--accent);
    align-items: flex-end;
    padding: 2%;
    margin: 5% auto;
}
.b5-div{
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
}
.blog-5 h2{
    color: var(--secondary);
    font-size: var(--font-h-d);
    font-family:var(--head);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.blog-5 img{
    height: 199px;
}
.blog-5 p{
    color: var(--text-1);
    text-align: center;
    font-size: 24px;
    font-family: var(--body);
    font-style: normal;
    line-height: normal;
    text-align: center;
}
@media (max-width:1024px){
    .blog-4 button{
        margin-right: 230px;
    }
    .blog-4{
        background-image: url("../images/Frame\ 75.jpg");
        background-position: right;
    }
    .blog-5 img{
        display: none;
    }
    
}
@media (max-width:650px) {
    .blog-4{
       background-image: url("../images/Frame\ 69.jpg");
       background-position: right;
    }
    
    .blog-4 button{
        margin-right: 50px;
        font-size: var(--font-p-m);
    }
    .blog-4 h2{
        font-size: 20px;
    }
    .hero{
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .hero-h{
        font-size: var(--font-h-m);
    }
    .hero-p{
        font-size: var(--font-p-m);
    }
    .blog-1 img{
        width: 300px;
        height: auto;
    }
    .b1-h{
        text-align: center;
    }
    .b1-sh{
        text-align:center;
    }
    .b1-list{
       align-items: center;
    }
}