:root{
    --primary : #DDA15E;
    --secondary : #EFDAB2;
    --accent: #554640;
    --text-1:white;
    --text-2:black;
    --head:'Poppins', sans-serif;
    --body:'Open Sans', sans-serif;
}

.logo{
    height: 72px;
    transition: 300ms;
    cursor: pointer;
}
.logo :hover{
    scale: 0.85;
}
.navbar-div{
    position: fixed;
    top: 0px;
    width: 100vw;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-items: center; 
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    background-color: white;
}

.Nav-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-container-show{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 20px 0px;
    padding-right: 5vw;

}
.menu-container-hide{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 20px 0px;
    padding-right: 5vw;
}

.link-divide{
    background-color: #8B8A8A;
    height: 1.5px;
    
}
.menu-btn{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw;

}
.link{
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    transition: 300ms;
    cursor: pointer;
}
.link:hover{
    color:var(--primary) ;
}
.link-menu{
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

@media (max-width:1024px) {
    .menu-btn{
        display: block;
        transition: 500ms;
    }
    .menu{
        display: none;
    }
    .menu-container-hide{
        display: block;
        position: relative;
        z-index: -2;
        bottom:205px;
        transition: 500ms;
    }
    .menu-container-show{
        display: block;
        position: relative;
        z-index: -2;
        bottom:17px;
        transition: 500ms;
    }
}
@media (max-width:650px) {
    .logo{
        height: 48px;
    }
    .contact-btn{
        border: 3px solid #554640;
        border-radius: 12px;
        padding: 6px 16px;
        font-weight: 600;
        font-size: 16px;
        
    }
}